<!-- Header -->
<div class="container-fluid bg-primary text-white py-3">
  <h1 class="text-center">Health Tracker</h1>
  <p class="text-center">Monitor and track your temperature and pulsation in real-time</p>
</div>

<div class="container my-4">
  <p>Welcome to the Health Tracker. This platform allows you to track and monitor your body's vital signs, focusing on
    temperature and pulsation. Whether you're a health enthusiast, patient, or just curious, our real-time charts
    provide insights and trends at a glance.</p>
</div>


<!-- Last Reading -->
<div class="container-fluid my-3">
  <div class="row justify-content-around text-center">
    <div class="val col-md-5 p-3 border rounded bg-light">
      <i class="fas fa-thermometer-half fa-2x mb-2 thermometer-color"></i>
      <div class="display-4">{{ getLastValue('temperature') }}°C</div>
      <div>Temperature</div>
    </div>
    <div class="val col-md-5 p-3 border rounded bg-light">
      <i class="fas fa-heartbeat fa-2x mb-2 heartbeat-color"></i>
      <div class="display-4">{{ getLastValue('pulsation') }} BPM</div>
      <div>Pulsation</div>
    </div>

  </div>
</div>




<!-- Charts -->
<div class="container-fluid my-3">
  <div class="row justify-content-around text-center">
    <div class=" col-md-5 p-3  ">
      <h3 class="text-center mb-3 chart1">Pulsation Over Time</h3>
      <jqxChart #myChart [width]="600" [height]="400" [source]="chartData" [title]="title"
        [description]="'Pulsation Over Time'" [showLegend]="true" [seriesGroups]="seriesGroups">
      </jqxChart>
    </div>
    <div class="col-md-5 p-3 ">
      <h3 class="text-center mb-3 chart2">Temperature Over Time</h3>
      <jqxChart #tempChart [width]="600" [height]="400" [source]="temperatureChartData" [title]="'Temperature Chart'"
        [description]="'Temperature Over Time'" [showLegend]="true" [seriesGroups]="temperatureSeriesGroups">
      </jqxChart>
    </div>
  </div>
</div>

<!-- History Data -->
<div class="container-fluid my-4">
  <h3 class="mb-3">Recorded Data</h3>
  <div *ngFor="let h of historyData" class="mb-2">
    <span>Date: {{ h.timestamp }}, Température: {{ h.data.temperature }}°C, Pulsation: {{ h.data.pulsation }} BPM</span>
  </div>
</div>

<!-- Footer -->
<div class="container-fluid bg-dark text-white py-3 mt-5">
  <p class="text-center">© 2023 Health Tracker. All rights reserved.</p>
</div>


<router-outlet></router-outlet>